<div class="container-fluid mt-3">
  <div class="row mt-3">
    <div
      *ngFor="let news of techHeadlinesData"
      class="card m-3"
      style="width: 20rem; background-color: rgb(238, 238, 238)"
    >
      <img src="{{ news.urlToImage }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <a href="{{ news.url }}" class="btn btn-primary" target="_blank"
          >Read more</a
        >
      </div>
    </div>
  </div>
</div>
